@require variables

body
    padding-top 20px
    padding-bottom 20px

    .blue-text
        color ui-blue

    .gray-border
        border 0px solid ui-gray
        &.border-left
            border-left-width 1px

    .text-edit-group
        .text-to-edit
            font-size 14px
        .text-editor
            .form-control
                font-size 14px
            .btn
                font-size 14px

    .header,
    .footer
        padding-left 15px
        padding-right 15px

    .header
        border-bottom 1px solid #e5e5e5
        margin-bottom 30px
        h3
            margin-top 0
            margin-bottom 0
            line-height 40px
            padding-bottom 19px

    .top-row
        .text-block
            font-size 14px
            &.name-block
                font-size 24px
                line-height 24px
            &.position-block
                font-size 16px
                line-height 16px
        .avatar-block
            text-align center
            .img-responsive
                width 150px
                display inline-block

    .icon-col
        select
            option
                &:before
                    font-family 'FontAwesome'

    .rating-col
        .ratings-group
            font-size 14px
            .rating-row
                .rating-name
                    .text-to-edit
                        font-size 14px

    .rating-list-container
         ul.rating
             list-style none
             padding 0
             margin 0
             li
                 display inline-block
                 list-style none
                 float left
                 padding 0
                 margin 0 0 0 5px
                 &.filled
                     color:ui-blue

    .footer
        padding-top 19px
        color #777
        border-top 1px solid #e5e5e5

@media screen and (min-width: 768px)
    .header,
    .marketing,
    .footer
        padding-left 0
        padding-right 0



