doctype html
include mixins/index/old-browsers
head
    include mixins/index/header
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css')
    link(rel='stylesheet', href='bower_components/textAngular/dist/textAngular.css')
    // endbower
    link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.css')
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel="stylesheet", href="styles/main.css")
    // endbuild
body(ng-app="cvgApp")
    include mixins/index/no-js
    div.container(ng-view)
    include mixins/index/footer
    // build:js scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/es5-shim/es5-shim.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/json3/lib/json3.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/ngDraggable/ngDraggable.js')
    script(src='bower_components/ng-file-upload/ng-file-upload.js')
    script(src='bower_components/rangy/rangy-core.js')
    script(src='bower_components/rangy/rangy-classapplier.js')
    script(src='bower_components/rangy/rangy-highlighter.js')
    script(src='bower_components/rangy/rangy-selectionsaverestore.js')
    script(src='bower_components/rangy/rangy-serializer.js')
    script(src='bower_components/rangy/rangy-textrange.js')
    script(src='bower_components/textAngular/dist/textAngular.js')
    script(src='bower_components/textAngular/dist/textAngular-sanitize.js')
    script(src='bower_components/textAngular/dist/textAngularSetup.js')
    // endbower
    // endbuild

    // build:js(.tmp) scripts/main.js
    script(src="scripts/app.js")
    script(src="scripts/controllers/main.js")
    script(src="scripts/filters/myfilter.js")
    script(src="scripts/controllers/cvcontroller.js")
    script(src="scripts/controllers/cv.js")
    script(src="scripts/directives/text.js")
    script(src="scripts/directives/image.js")
    script(src="scripts/directives/heading.js")
    script(src="scripts/directives/textarea.js")
    script(src="scripts/directives/rating.js")
    script(src="scripts/directives/info.js")
    script(src="scripts/directives/block.js")
    script(src="scripts/directives/starrating.js")
    script(src="scripts/services/pdffactory.js")
    script(src="scripts/services/translate.js")
    script(src="scripts/directives/html.js")
    script(src="scripts/directives/html2pdf.js")
    // endbuild