doctype html
include mixins/index/old-browsers
head
    include mixins/index/header
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css')
    link(rel='stylesheet', href='bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css')
    link(rel='stylesheet', href='bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css')
    link(rel='stylesheet', href='bower_components/bootstrap-select/dist/css/bootstrap-select.css')
    link(rel='stylesheet', href='bower_components/datatables/media/css/jquery.dataTables.css')
    link(rel='stylesheet', href='bower_components/datatables-bootstrap3/BS3/assets/css/datatables.css')
    link(rel='stylesheet', href='bower_components/bootstrap-fileinput/css/fileinput.min.css')
    link(rel='stylesheet', href='bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
    // endbower
    link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.css')
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel="stylesheet", href="styles/main.css")
    // endbuild
body(ng-app="CVGApp")
    include mixins/index/no-js
    div.container-fluid(ng-view)
    include mixins/index/footer
    // build:js scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/es5-shim/es5-shim.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/json3/lib/json3.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/bootstrap-validator/dist/validator.min.js')
    script(src='bower_components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js')
    script(src='bower_components/bootstrap-switch/dist/js/bootstrap-switch.js')
    script(src='bower_components/bootstrap-select/dist/js/bootstrap-select.js')
    script(src='bower_components/datatables/media/js/jquery.dataTables.js')
    script(src='bower_components/datatables-bootstrap3/BS3/assets/js/datatables.js')
    script(src='bower_components/bootstrap-fileinput/js/fileinput.min.js')
    script(src='bower_components/moment/moment.js')
    script(src='bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    script(src='bower_components/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/ngDraggable/ngDraggable.js')
    // endbower
    script(src='bower_components/bootstrap-fileinput/js/fileinput.js')
    // endbuild

    // build:js(.tmp) scripts/main.js
    script(src="scripts/app.js")
    script(src="scripts/controllers/main.js")
    // endbuild