.form-group.text-edit-group
    h1.text-to-edit.name(ng-click='showName = !showName',ng-hide='showName') {{name}}
        fixture
            span(ng-show='!name')=cv.name
    editor.text-editor(ng-show='showName')
        input.form-control(type='text', ng-model='name', placeholder=cv.name)
        button.save.btn.btn-info(ng-click='showName = !showName')=button.save