div.header
    ul.nav.nav-pills.pull-right
        li.active
            a(ng-click='print()')
                i.fa.fa-print
                span=button.print
    h3.text-muted=sitename
.content(html2pdf='')
    .cv
        div.row.top-row
            .col-md-8.col-lg-10.top-name-block
                .text-block.name-block(text='', type='name')
                .text-block.position-block(text='', type='position')
            .col-md-4.col-lg-2.gray-border.border-left
                .image-block.avatar-block(image='', type='avatar')
        div.row.info-row
            .col-md-6.info-block(block='', type='info')
            .col-md-6.skills-block(block='', type='skills')
div.footer
    p=copyright