div.header
    ul.nav.nav-pills.pull-right
        li.active
            a(href="#")
                i.fa.fa-print
                |&nbsp;
                span=print.button
    h3.text-muted=sitename
div.jumbotron.text-center
    p {{greetings}}
div.row.text-center
    p {{greetings}}
div.footer
    p=copyright